@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


section{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    /* overflow: hidden;
    padding: 8px 10px;
    box-sizing: border-box; */
}

section::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/jungle_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #ef3b36; */
    /* clip-path: circle(65% at 100% -20%); */
}

section::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/jungle_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #47aafa; */
    /* clip-path: circle(35% at 0% 100%); */
}


.Container{
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Container .card{
    position: relative;
    width: 473px;
    height: 600px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.Container .card .imgbx{
    position: relative;
    top: 20px;
    left: 45px;
}
.Container .card .imgbx img{
    max-width: 100%;
    width: 350px;
    border-radius: 20px;
}
h2{
    font-size: xxx-large;
    font-family: '';
}
h3{
    padding-top: 10px;
    font-size: x-large;
    font-family: '';
    color: black;

}

.Container .mapcard{
    position: relative;
    width: 473px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.Container .mapcard .imgbx img{
    max-width: 100%;
    width: 500px;
    border-radius: 20px;
    padding: 5px;
}

.Container .mapcard .imgbx h3{
    position: absolute;
    left: 80px;
}

.Container .card1{
    position: relative;
    width: 925px;
    height: 470px;
    text-align: center;
    color: black;
    font-size: larger;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.Container .card1 p{
    top: 15px;
    position: absolute;
}
.section .info{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 25vh;
    overflow: hidden;
    padding: 100px 0px;
    box-sizing: border-box;
    background: #232323;
}
.Container .card2{
    position: relative;
    width: 925px;
    height: 670px;
    text-align: center;
    color: black;
    font-size: larger;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.Container .card2 h2{
    text-align: center;
    position: absolute;
    left: 310;
}
.Container .card2 p{
    position: absolute;
    top: 94px;
}

.Container .card2 ol{
    position: absolute;
    top: 400px;
    left: 70px;
}

.Container .card3{
    position: relative;
    width: 925px;
    height: 350px;
    text-align: center;
    color: black;
    font-size: larger;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-content: center; 
    background: rgba(225, 225, 225, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
.Container .card3 h2{
    text-align: center;
    position: absolute;
    left: 200px;
}
.Container .card3 p{
    position: absolute;
    top: 94px;
}

